<div class="title">
    <h1>Welcome to Quotes</h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2> Add a Quote</h2>
      </div>
      <div class="col-md-8">
        <h2>My Quotes</h2>
         <div class="all cards">
             <div *ngFor = "let quote of quotes; let i = index" class ="card">
                <div class ="card-body">
                    <div *ngIf = "quote.upvotes == highest && quote.upvotes>0; then highlight else empty"></div>
                        <ng-template #highlight>
                        <li appHighlight> {{quote.quote}} <span> Upvotes :{{quote.upvotes}}</span> <span> Downvotes: {{quote.downvotes}} </span></li>   
                        </ng-template>
                        <ng-template #empty>
                        <li>{{quote.quote}} <span> Upvotes :{{quote.upvotes}}</span> <span> Downvotes: {{quote.downvotes}} </span></li> 
                        </ng-template>
                        <button (click)="toggleDetails(i)">See more</button>
                        <app-quote-detail *ngIf='quote.description' [quote]='quote'></app-quote-detail>
                </div>
             </div>
         </div>
      </div>
    </div>
  </div>
