*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
.title{
    text-align: center;
    font-family: 'Special Elite', cursive;
    margin-top: 5%;
}
h2,h3,p{
    font-family: 'Poppins', sans-serif;
}
.row {
    margin :1%;
    padding-top: 1%;
}
.overlay{
    background-color:#22aa9a;
    border-radius: 5px;
    margin-top:2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 5%;
}
.all-cards{
    
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 2%;
  }
  #quotes-button{
    float: right;
  }
  .card{
    margin-bottom: 2%;
    background-color: #CCF5F0;
    box-shadow: 2px 2px 3px 2px black;
  }
  #date{
    float: right;
    font-size: 14px;
  }
  #name{
      color:rgb(1, 29, 1);
      font-weight: 700;
  }
  #datecolor{
    color: rgb(1, 29, 1);
    font-weight: 700;
  }
  .card-text{
    font-weight: 570;
    font-size: 18px;
  }
  .container-fluid{
      padding-left: 2%;
      padding-right: 2%;
  }
