*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.title{
    text-align: center;
    font-family: 'Special Elite', cursive;
    margin-top: 5%;
}
h2,h3,p{
    font-family: 'Poppins', sans-serif;
}
.row {
    margin :2%;
    padding-top: 1%;
}