<div class="overlay">
<div class="title">
    <h1> Code Quotes</h1>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
      <div class="col-sm-9">
         <div class="all cards">
             <div *ngFor = "let quote of quotes; let i = index" class ="card">
                <div class ="card-body"> 
                    <div *ngIf = "quote.upvotes == highest && quote.upvotes>0; then highlight else empty"></div>
                        <ng-template #highlight>
                        <p appHighlight> {{quote.quote}}</p>   
                        </ng-template>
                        <ng-template #empty>
                        <p> {{quote.quote}}</p> 
                        </ng-template>
                        <p> - Posted by {{quote.name}} on {{quote.date}}</p>
                        <button (click)="toggleDetails(i)" class="btn btn-info btn-sm" id="quotes-button" >See more</button>
                        <app-quote-detail *ngIf='quote.showDescription'[quote]='quote'(isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
                </div>
             </div>
         </div>
      </div>
    </div>
  </div>
 </div> 